/* * {
	border: red 1px solid;
} */

html, .body {
	background-image: linear-gradient(#6563D6, #AB6AD8);
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
}

.tile {
	background-color: white;
	background-image: url(./images/bg-pattern-desktop.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	display: flex;
	border-radius: 25px;
	margin: 10em;
}

#tileRight {
	display: flex;
	flex-direction: row;
}

#form {
	display: flex;
	flex-direction: column;
	margin: 3em;
	border-radius: 25px;
	align-items: left;
	padding-left: 5em;
}


.accordion {
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 1em;
	text-align: left;
	border-bottom: grey 1px solid;
}

.accordion:hover {
	font-weight: bold;
	color: orange;
}

.active {
	font-weight: bold;
}

.dropdown {
	display: none;
	background-color: rgba(0,0,0,0);
}
