/* * {
	border: red 1px solid;
} */

html, .body {
	background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	align-items: center;
	color: hsl(238, 29%, 16%);
}

.wrapper {
	transform: scale(1);
}

.tile {
	background-color: white;
	background-image: url(./images/bg-pattern-desktop.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: -635px -350px;
	display: flex;
	border-radius: 25px;
	margin: 10em;
	margin-left: 20em;
	margin-right: 20em;
	width: 60em;
	height: fit-content;
	padding: 2em;
	padding-top: 1em;
	overflow: hidden;
	position: relative;

}

#tileRight {
	display: flex;
	width: fit-content;
	flex-direction: row;
	padding: 0em;
}

#tileLeft {
	position: relative;
	padding-top: 3em;
	
}

#form {
	display: flex;
	flex-direction: column;
	width: 24em;
	margin: 3em;
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-radius: 25px;
	align-items: left;
	padding-left: 1em;
}


.accordion {
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 1em;
	text-align: left;
	border-bottom: hsl(240, 5%, 91%) 1px solid;
	color: hsl(237, 12%, 33%);
	padding-left: 0em;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	width: 35em;
	
}

.accordion:hover {
	font-weight: bold;
	color: hsl(14, 88%, 65%);
}

.active {
	font-weight: bold;
}

.dropdown {
	display: none;
	background-color: rgba(0,0,0,0);
	color: hsl(240, 6%, 50%);
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.arrow {
	display: inline;
	float: right;
}

.arrowActive {
	transform: rotate(180deg);
}

#FAQ {
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 700;
	padding-bottom: 1em;
	padding-top: 1em;
	margin: 0;
}

#graphicLarge {
	position: relative;
	left: -115px;
}

#graphicSmall {
	position: absolute;
	z-index: 1;
	position: fixed;
	left: 225px;
	top: 355px;
}

@media (max-width: 414px) {
	.wrapper {
		align-items: center;
		text-align: center;
	}

	.tile {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 230px;
		height: fit-content;
		align-items: center;
		text-align: center;
		margin: 1em;
		margin-top: 8em;
		padding: 0.2em;
		padding-bottom: 2em;
		overflow: visible;
		background-size: 70%;
		background-position: 50% -50%;
	}

	#tileRight {
		flex-direction: column;
		padding: 0;
		margin: 0;
		width: 230px;
	}

	#tileLeft {
		flex-direction: column;
		
	}

	#form {
		width: 230px;
		align-items: center;
		padding: 0;
		margin: 0px;
		margin-top: 20px;
	}

	.accordion {
		width: 190px;
		font-size: 8px;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	.dropdown {
		width: 175px;
		text-align: left;
		font-size: 8px;
		padding-right: 2em;
	}

	#graphicLarge {
		position: absolute;
		width: 165px;
		top: -80px;
		left: -83px;

	}

	#graphicSmall  {
		width: 60px;
		left: 48px;
		top: 98px;
	}

	#FAQ {
		font-size: 20px;
	}
	
}


